/HRIS/.vs
/HRIS/Hris.Database/obj
/HRIS/Hris.Database/bin
/HRIS/Hris.Profiles.Api/obj
/HRIS/Hris.Profiles.Api/bin
/HRIS/Hris.Profiles.Dal/obj
/HRIS/Hris.Profiles.Dal/bin
/HRIS/Hris.Profiles.Domain/obj
/HRIS/Hris.Profiles.Domain/bin
/HRIS/Hris.Common.Business/bin
/HRIS/Hris.Common.Business/obj
/HRIS/Hris.Common.Persistence/obj
/HRIS/Hris.Common.Persistence/bin
/HRIS/Hris.Profiles.Business/obj
/HRIS/Hris.Profiles.Business/bin
/HRIS/Hris.Profiles.Persistence/obj
/HRIS/Hris.Profiles.Persistence/bin
/HRIS/Hris.Permission.Business/obj
/HRIS/Hris.Permission.Business/bin
/HRIS/Hris.Permission.Persistence/obj
/HRIS/Hris.Permission.Persistence/bin
/HRIS/Hris.Permission.Tests/obj
/HRIS/Hris.Permission.Tests/bin
/HRIS/Hris.Common.Tests/obj
/HRIS/Hris.Common.Tests/bin
/HRIS/Hris.Web.Main/wwwroot/lib
/material-dashboard-angular-v2.1.0/node_modules
/HRIS/Hris.List.Business/obj
/HRIS/Hris.List.Business/bin
/HRIS/Hris.List.Persistence/obj
/HRIS/Hris.List.Persistence/bin
/HRIS/Hris.List.Api/obj
/HRIS/Hris.List.Api/bin
/HRIS/Hris.Shared/obj
/HRIS/Hris.Shared/bin
/new_hris/Hris/.vs
/new_hris/Hris/HrisWebMain/bin
/new_hris/Hris/HrisWebMain/obj
/new_hris/Hris/HrisWebMain/wwwroot
/new_hris/Hris/Hris.sln.DotSettings.user
/code-generator/CodeGenerator/.vs
