<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/images/apple-icon.png">
    <link rel="icon" href="~/images/favicon.png">
    <title>
        HRMS
    </title>
    <base href="~/" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/material-dashboard.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body class="">
@RenderBody()
<!--   Core JS Files   -->
<script src="~/js/core/jquery.min.js"></script>
<script src="~/js/core/popper.min.js"></script>
<script src="~/js/bootstrap-material-design.js"></script>
<script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="~/js/material-dashboard.js" asp-append-version="true"></script>
@RenderSection("scripts", required: false)
</body>
</html>