<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="k-block">
            <button kendoButton (click)="openAddOrEdit()" [primary]="true" [look]="'outline'" [iconClass]="'k-icon k-i-plus'">Thêm</button>
            <button kendoButton (click)="openAddOrEdit()" [primary]="true" [look]="'outline'" [iconClass]="'k-icon k-i-edit'">Sửa</button>
            <button kendoButton (click)="onButtonClick()" [primary]="true" [look]="'outline'" [iconClass]="'k-icon k-i-delete'">Xóa</button>
        </div>
    </div>
</div>
<kendo-grid [data]="gridData" [height]="410">
    <kendo-grid-column field="ProductID" title="ID" width="40">
    </kendo-grid-column>
    <kendo-grid-column field="ProductName" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="Category.CategoryName" title="Category">
    </kendo-grid-column>
    <kendo-grid-column field="UnitPrice" title="Price" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<kendo-window title="Please provide additional data" *ngIf="isAddOrEdit" (close)="closeAddOrEdit()" [top]="80" [minWidth]="500" [width]="700">
    <form class="k-form">
        <fieldset>
            <legend>User Details</legend>

            <label class="k-form-field">
                <span>First Name</span>
                <input class="k-textbox" placeholder="Your Name" />
            </label>
            <label class="k-form-field">
                <span>Last Name</span>
                <input class="k-textbox" placeholder="Your Last Name" />
            </label>
        </fieldset>
        <div class="text-right">
            <button type="button" class="k-button" (click)="closeAddOrEdit()">Cancel</button>
            <button type="button" class="k-button k-primary" (click)="submit()">Submit</button>
        </div>
    </form>
</kendo-window>